/*#Region Debug*/

.debug{

    header{
        background-color: blueviolet;
        img{
            background-color: aqua;
        }
        nav{
            background-color: blue;
        }
        div{
            background-color: greenyellow;
        }
        li{
            background-color: rebeccapurple;
        }
    }

    main{
        background-color: chartreuse;
        .jumbotron{
            height: 500px;
            background-color: aquamarine;
            h1{
                height: 100px;
                background-color: blue;
            }
            p{
                width: 50px;
                height: 100px;
                background-color: yellowgreen;
            }
            img
            
        }
    }
}

/*# Region Common*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --primary-color: #0061fe;
}

/*#Region Utilities*/

.container-big{
    margin: 0 auto;
    width: 70%;
}

.container-small{
    margin: 0 auto;
    width: 60%;
}

/*Flex*/

.d-flex{
    display: flex;
}

/*Typography*/

body{
    font-family: "Roboto", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/*Header*/

header{
    padding: 1rem 0.5rem;
    align-items: center;
    img{
        padding-right: 1rem;
    }
    nav{
        width: 100%;
        justify-content: space-between;
    }
    ul{
        justify-content: space-between;
        align-items: baseline;
        
    }
    li{
        padding: 0.2rem 1rem;
    }
    .get-started{
        background-color: var(--primary-color);
        padding: 0.2rem 0.5rem;
    }
}

/*Main*/

.jumbotron{
    padding-top: 50px;
    img{
        width: 50%;
    }
}